<!DOCTYPE html>
<html>
<% include ../public/include/mobileHeader.html %>
<style>
tr, th, td {
	border: 1px solid #d6d6d6;
	vertical-align: middle;
}

th {
	text-align: center;
}

.t1 {
	width: 50px;
}
</style>

</head>

<body>
	<div data-role="page" id="pageone">
		<div data-role="header"><% include
			../public/include/pageHeader.html %></div>
		<div data-role="main" class="ui-content">
			<% include info_tview.ejs %>
			<% include info_sview.ejs %>
			<p>&#42; 민감군 : 어린이, 노약자, 천식같은 폐질환 및 심장질환을 앓고 있는 어른</p>
		</div>
		<div data-role="footer"><% include
			../public/include/pageFooter.html %></div>
	</div>
</body>
</html>