<div class="w3-panel w3-khaki">
	<h6>각 구간별 세부 정보</h6>
</div>
<table class="w3-table">
	<tbody>
		<tr>
			<th class='t1 w3-center'>지수구간</th>
			<th class='t1 w3-center'>지수표현</th>
			<th class='t1 w3-center' >지수구분</th>
			<th class="w3-center" colspan="6">구간의미</th>
		</tr>
		<tr>
			<th></th>
			<th></th>
			<th></th>
			<th class="w3-center" >미세먼지(황사) PM<sub>10</sub></th>
			<th class="w3-center" >초 미세먼지 PM<sub>2.5</sub></th>
			<th class="w3-center" >극초 미세먼지 PM<sub>0.1</sub></th>
		</tr>
		<tr>
			<th class="w3-center">A(1)</th>
			<th class="w3-center">1</th>
			<th class="w3-center">좋음</th>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th class="w3-center">B(2)</th>
			<th class="w3-center">2</th>
			<th class="w3-center">보통</th>
			<td colspan=3>
				<ul>
					<li>민감군:실외활동시 특별히 행동에 제약을 받을 필요는 없지만 몸상태에 따라 유의하여 활동</li>
				</ul>
			</td>

		</tr>
		<tr>
			<th class="w3-center">C(3)</th>
			<th class="w3-center">3</th>
			<th class="w3-center">나쁨</th>
			<td colspan=3>
				<ul>
					<li>일반인:장시간 또는 무리한 실외활동 제한, 특히 눈이 아픈 증상이 있거나 기침이나 목의 통증으로 불편한
						사람은 실외활동을 피해야 함</li>
					<li>민감군:장시간 또는 무리한 실외활동 제한, 특히 천식을 앓고 있는 사람이 실외에 있는 경우 흡입기를 더
						자주 사용 할 수가 있음</li>
				</ul>
			</td>
		</tr>

		<tr>
			<th class="w3-center">D(4)</th>
			<th class="w3-center">4</th>
			<th class="w3-center">매우 나쁨</th>
			<td colspan=3>
				<ul>
					<li>일반인:장시간 또는 무리한 실외활동 제한, 목의 통증과 기침등의 증상이 있는 사람은 실외활동을 피해야 함</li>
					<li>민감군:가급적 실외활동, 실외활동시 의사와 상의</li>
				</ul>
			</td>
		</tr>

		<tr style="vertical-align: middle">
			<th class="w3-center">E(4)</th>
			<th class="w3-center">5</th>
			<th class="w3-center">매우 나쁨 </th>
			<td colspan=3>
				<ul>
					<li>일반인:실외에서 모든 신체활동 금지</li>
					<li>민감군:심장질환 혹은 폐질환이 있는 사람, 노인, 어린이는 실내에 있어야 하며 활동정도를 약하게 유지</li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>
