
<h5>PM 2.5 미세먼지 농도 범위</h5>
<table style="font-size: 11px" class="table" summary="대기환경지수 설명"
	cellpadding="0" cellspacing="0">
	<tbody>
		<tr class="width12_5">
			<th rowspan="2">등급</th>
			<th class='pm25_1'>1</th>
			<th class='pm25_2'>2</th>
			<th class='pm25_3'>3</th>
			<th class='pm25_4'>4</th>
			<th class='pm25_5'>5</th>
		</tr>
		<tr>
			<th class='pm25_1'>좋음</th>
			<th class='pm25_2'>보통</th>
			<th class='pm25_3'>나쁨</th>
			<th class='pm25_4'>매우나쁨</th>
			<th rowspan="2"  class='pm25_5'>데이타<br>없음
			</th>
		</tr>
		<tr>
			<th>범위</th>
			<th class='pm25_1'>0~15</th>
			<th class='pm25_2'>16~50</th>
			<th class='pm25_3'>51~100</th>
			<th class='pm25_4'>101~</th>
		</tr>
</table>
<h5>PM 10 미세먼지(황사급) 농도 범위</h5>
<table style="font-size: 11px" class="table" cellpadding="0"
	cellspacing="0">
	<tbody>
		<tr class="width12_5">
			<th rowspan="2">등급</th>
			<th class='pm10_1'>1</th>
			<th class='pm10_2'>2</th>
			<th class='pm10_3'>3</th>
			<th class='pm10_4'>4</th>
			<th class='pm10_5'>5</th>
		</tr>
		<tr>
			<th class='pm10_1'>좋음</th>
			<th class='pm10_2'>보통</th>
			<th class='pm10_3'>나쁨</th>
			<th class='pm10_4'>매우나쁨</th>
			<th rowspan="2" class='pm10_5'>데이타<br>없음
			</td>
		</tr>
		<tr>
			<th>범위</th>
			<th class='pm10_1'>0~30</th>
			<th class='pm10_2'>31~80</th>
			<th class='pm10_3'>81~150</th>
			<th class='pm10_4'>151~</th>
		</tr>
</table>

<h5>PM 0.1 초미세먼지 농도 범위</h5>
<table style="font-size: 11px" class="table" summary="대기환경지수 설명"
	cellpadding="0" cellspacing="0">
	<tbody>
		<tr class="width12_5">
			<th rowspan="2">등급</th>
			<th>1</th>
			<th>2</th>
			<th>3</th>
			<th>4</th>
			<th>5</th>
		</tr>
		<tr>
			
			<th>좋음</th>
			<th>보통</th>
			<th>나쁨</th>
			<th>매우나쁨</th>
			<th rowspan="2">데이타<br>없음
			</th>
		</tr>
		<tr>
			<th>범위</th>
			<th colspan=4>명확한 등급기준이 없음.</th>
		</tr>
</table>
