<!DOCTYPE html>
<html>
<head>
<% include include/mainHeader.ejs %>

</head>

<body>
	<!-- Header -->
	<% include include/pageHeader.ejs %>
	<article class="w3-padding-15 w3-center">
		<div class="w3-container"><% include info_tview.ejs %></div>
	</article>
	<article class="w3-padding-15 w3-center">
		<div class="w3-container"><% include info_sview.ejs %></div>
		<p>&#42; 민감군 : 어린이, 노약자, 천식같은 폐질환 및 심장질환을 앓고 있는 어른</p>
	</article>
	<br/><br/>
	<footer  class="w3-container w3-blue w3-center">
		<% include include/pageFooter.ejs %>
	</footer>
</body>
</html>