<!DOCTYPE html>
<% include include/mainHeader.ejs %>
<style>
.axis--x path {
	/*display: none;*/
}

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
}
</style>
<script src="http://d3js.org/d3.v4.js"></script>
<script src='/js/chart_event.js'></script>
<body>
	<% include include/pageHeader.ejs %>
	<article>
		<section class="w3-container">
			<section class='w3-col l3 s3 m3'>
				<input type="date" class="w3-input w3-border w3-col l6 m6 s6 w3-margin" name="searchdate" id="searchdate">
				<button class="w3-button w3-khaki w3-margin" id="searchBtn">
				검색
				</button>
			</section>
			<section class="w3-col l5 s3 m5 w3-light-gray">
				<input type='checkbox' checked="checked" name='PM25' id='PM25_01' value='PM25_01' class="w3-check w3-margin">
				<label class='w3-large'>PM 0.1</label>

				<input type='checkbox' checked="checked" name='PM25' id='PM25_25' value='PM25_25' class="w3-check w3-margin">
				<label class='w3-large'>PM 25</label>

				<input type='checkbox' checked="checked" name='PM25' id='PM25_10' value='PM25_10' class="w3-check w3-margin">
				<label class='w3-large'>PM 10</label>

				<input type='checkbox' name='PM25' id=DS_TEMP value='DS_TEMP' class="w3-check w3-margin">
				<label class='w3-large'>기온</label>

			</section>
		</section>
	</article>
	<hr/>
	<article class='w3-container w3-light-gray' id='chartArea'>
		<svg width="1200" height="450"></svg>
	</article>
	<hr/>
	<article id='msg'></article>
	<footer class="w3-container w3-blue w3-center"> <% include
		include/pageFooter.ejs %> </footer>

</body>

