<!DOCTYPE html>
<html>
<head>
<% include include/mainHeader.ejs %>
<script>
	$(document).ready(function() {
		$("#search").click(function() {
			// alert($("#searchdate").val());
			getList();
		});
		var date = new Date();
		var year = date.getFullYear();
		var month = date.getMonth() + 1; // 0부터 시작하므로 1더함 더함
		var day = date.getDate();

		if (("" + month).length == 1) {
			month = "0" + month;
		}
		if (("" + day).length == 1) {
			day = "0" + day;
		}
		$("#searchdate").val(year + "-" + month + "-" + day);
		getList();

	});

	function getList() {
		$("#listbody").html("<h3 class='w3-bold'><i class='fa fa-quote-right w3-xxlarge w3-opacity'>"
				+"데이터 로딩에 다소 시간이 소요됩니다. 잠시만 기다리세요</i></h4>");
		var getDate = $("#searchdate").val();
		$.post('/pm25/getlist',{getDate:getDate},function(result){
				$("#listbody").html(result);
		})
	}
</script>

</head>
<body>
	<!-- Header -->
	<% include include/pageHeader.ejs %>
	<article class="w3-padding-16">
		<div class="w3-row w3-container w3-margin-10">
			<div class="w3-col s1"></div>
			<div class="w3-col l3">
				<input type="date" class="w3-input w3-border" name="searchdate"
					id="searchdate">
			</div>
			<div class="w3-col l3 w3-container w3-margin-10 ">
			<button class="w3-button w3-khaki w3-round-xlarge" id="search">
				검색
			</div>
		</div>
		<hr />
		<div class='w3-row  w3-container w3-margin-10'>
			<div class="w3-col l12" id="listbody">
			</div>
		</div>
	</article>
	<br />
	<br />
	<footer  class="w3-container w3-blue w3-center">
		<% include include/pageFooter.ejs %>
	</footer>

</body>
</html>