<title>▥ ▥ ▥ 행복한 Iot 세상 - 미세먼지 검출 시스템 ▥ ▥ ▥</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$('document').ready(function() {
	$("#dashboard").click(function(){
		location.href="/pm25/dashboard";
	})
	$("#pmlist").click(function(){
		location.href="/pm25/pmlist";
	})
	$("#linechart").click(function(){
		location.href="/pm25/linechart";
	})
	$("#getinfo").click(function(){
		location.href="/pm25/getinfo";
	})
})
</script>

<style>
body {
	font: 11px Gulim;
}

tr, th, td {
	border: 1px solid #d6d6d6;
	vertical-align: middle;
	
}

th {
	text-align: center;
}

.t1 {
	width: 100px;
}
</style>


